@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin-left: 40px;
  margin-right: 40px;
  overflow-x: hidden;
}
footer{
  margin-left: 0 !important;
  margin-right: 0 !important;
}